.row{
margin-left: 20px;
overflow-x: auto;
}

.row__posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;
padding: 20px;
}
.row__posterLarge{
    max-height: 250px;
    object-fit: contain;
    margin-right: 10px;
}
.row__posters::-webkit-scrollbar{   
    display: none;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    background: transparent; 
}

.row__poster{
max-height: 200px;
object-fit: contain;
margin-right: 10px;
}

.row__poster:hover{
   transform: scale(1.08);
   opacity: 1;
    }

    .movie__text{
        color: white;
        font-weight: bold ;
    }

    .selectedMovieDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }

      .selectedMoviePoster {
        max-width: 1500px; /* Adjust the maximum width as needed */
        height: auto;
        margin-right: 20px;
      }

      .selectedMovieDetails ul {
        font-weight: bold;
        font-size: large;
        font-size: 36px;
        list-style-type: none;
        color: white;
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
        margin-right: auto;
        padding: 0;
      }

      .selectedMovieDetails li {
        margin-bottom: 30px;
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
       
      }